/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

@import url(https://fonts.googleapis.com/css?family=Raleway);

header > h2,h1{ /* Header */
    padding-top: 10px;
    padding-bottom: 10px;
    /*text-shadow: 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 15px 15px; /* Effet de police en relief*/
    text-shadow:1px 1px 2px gray;/*texte ombragé*/
    text-decoration: none;
    font-family: 'Sawasdee', sans-serif;
    font-size:2em;
    /*font: normal 300% Arial, Helvetica, sans-serif;*/
    color:white;
    letter-spacing: -2px; }

/* un titre dans un conteneur d'id slogan: #slogan h1 */


html{
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    transition: background-color 2s linear;
    /*background-image: url(fond4.jpg);
    background-color: orange;#089; */
    background-image: url(../Images/fond.jpg);
    background-attachment:no-repeat;
    background-size: cover;
    cursor:url("../Images/curseur.png"), auto;

}

body {
    margin-left:10%;
    width: 80%;
}

header{
    height: 20%;
    background-image:url(fond3.jpg);

    border-radius: 5px;
}




/*Barre de navigation*/

nav {
    /*
    DEGRADE */
    background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);

    height: 2em;
    display: table;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2);
}
nav > a:hover, nav > a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,0 -1px 0 hsl(210, 100%, 42%) inset, 0 -2px 0 hsl(210, 100%, 48%) inset, 0 -3px 0 hsl(210, 100%, 54%) inset, 0 -4px 0 hsl(210, 100%, 60%) inset, 0 -5px 0 hsl(210, 100%, 70%) inset;
    padding: 8px 25px 17px 25px;
    transition: all .3s;
}
nav > a:active {
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

nav > a {
    padding: 8px 8px 17px 8px;
    display: table-cell;
    color:white;
    text-decoration:none ;
    margin-left: 80px;
    text-align:center;
}

a {
    color:#099;
}

a:hover{
    text-shadow: 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 15px 15px;
}

section{ /*MARGIN marge de la boite   PADDING contenu*/
    position: float;
    box-sizing: border-box;
    padding: 2%; /*texte touche pas les bords */
    padding-top:1%;
    margin-top: 1em;
    width: 100%; /*section prend toute la largeur dispo */
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 30px #000; /*droite bas puissance couleur*/
    font-family: 'Sawasdee', sans-serif;
}

h2{
    text-decoration: underline;
    padding-top: 1%;
}

.nav{
    margin-left: 80px;
    height:1.8em;

}


/*Formulaire*/

/*Boutons du formulaire*/
input[type=text] {
    background-color:#99CCFF;
    border:2px;
    width:200px;
}

input[type=submit]:active{

    background-color:#99CCFF;
    box-shadow:1px 1px 1px #99CCFF inset;
    border-radius: 10px;
}

input[type=file]{
    width:150px;
    height:40px;
    border-radius:10px;
}

input[type=submit], input[type=reset]{
    width:150px;
    height:40px;
    margin-left:5px;
    background: black;
    color:white;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
    border-radius:10px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background: -moz-linear-gradient(top,
    #99CCFF 0%,
    #3399CC 24%,
    #0000FF 41%,
    #3399CC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#99CCFF),
    color-stop(24%,#3399CC),
    color-stop(41%,#0000FF),
    color-stop(100%,#3399CC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,
    #99CCFF 0%,
    #3399CC 24%,
    #0000FF 41%,
    #3399CC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,
    #99CCFF 0%,
    #3399CC 24%,
    #0000FF 41%,
    #3399CC 100%); /* Opera 11.10+ */
    background: linear-gradient(
            #99CCFF 0%,
            #3399CC 24%,
            #0000FF 41%,
            #3399CC 100%); /* W3C */
}


/*PAGES SECONDAIRES*/
.content {
    width:112px ;
    height: 144px ;
    position: block;
}

.cote { /*page livre.html */
    width:80% ;
    height: 20% ;
    position: block;
}

.texte{
    font-size:10px;
    width:50%;
}

.livre {
    float:right;
    color:red;
}


/*PAGE LISTE Tableau*/
.Tableau div{
    display:table-cell;
    padding: 3px;
}

.Tableau {
    max-width:1500px;
    min-width:400px;
    border-collapse:collapse;
    width:100%;
    display:table;
}

.Tableau span {
    display:table-cell;/*Cellule de la liste*/
    border:1px solid lightblue;
    margin:0px;
    padding:3px;
}

.Tableau span:last-child {/*Dernier élément de la liste*/
    color:red;
}

.Tableau p { /*Ligne de la liste*/
    display: table-row;
    clear:left;
    margin:0px;
    padding:0px;
    height:100% ;
    text-align:center;

}

.Tableau p.legende { /*Legende de la liste*/
    font-weight:bold;
    color: black;
    text-align:left;
}

/*Définir la taille des colonnes*/
.Tableau span.col1 , .Tableau span.col4 {
    width:200px;
}
.Tableau span.col2 {
    width:250px;
}
.Tableau span.col3 {
    width:90px;
}




/* PAGE INDEX Affichage des livres avec rotation*/


.mosaique{
    position:inline-block;
    height: 20%;
    width: 15%;
    /*padding-left: 5%;
    padding-top:3%; marge entre les images*/
}

/*Barre de recherche inclus dans la barre de navigation*/
#recherche {
    width:208px;
    height:24px;
    background:white;
    box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
    border-radius:2em;
}

#recherche .loupe {
    background:url(http://www.larevuedekenza.fr/wp-content/themes/quarter/images/sidebar/loupe.png) no-repeat 0 0;
    width:24px;
    float:right;
}

#recherche input {
    outline:0;
    border:0;
    height:24px;
}

#recherche input[type=text] {
    font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background:none;
    width:150px;
    color:#3399CC;
}


.gauche {
    float:left;
    width:20%;
}
.droite {
    margin-left:20%;
}

footer {
    color:white;
}


/*MEDIA QUERRIES*/
@media all and (min-width: 100px) and (max-width: 900px)
{
    h2{ /* Header */
        font-size:1em;
    }

    h3{
        font-size:1em;
    }

    .gauche {
        display:none;
    }

    .droite {
        margin-left:2%;
    }



}

